<template name="layout" >


<nav class="navbar navbar-default" style ="background:lightskyblue">




  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
   

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
    <li role="presentation"> <a href={{pathFor 'home'}} ><span class="glyphicon glyphicon-home" style="color:black" aria-hidden="true" ></span></a> </li>
    <li role="presentation"><a href={{pathFor 'about'}}>      <span style="color:black">About</span>     </a></li>
    <li role="presentation"><a href={{pathFor 'comments'}}>    <span style="color:black">Comments</span>  </a></li>
    <li role="presentation"><a href={{pathFor 'houses'}}> <span style="color:black">Search Houses</span>  </a></li>
    <li role="presentation"><a href={{pathFor 'posthouses'}}>  <span style="color:black">Post Houses</span>  </a></li>
    <li role="presentation"><a href={{pathFor 'testing'}}>  <span style="color:black">Testing</span>  </a></li>
    
      </ul>
      <form class="navbar-form navbar-right" role="login" style="color:black">
        <div style="text-align:right , color:black">
      {{> loginButtons}}
      </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!--bootstrap container to work, should be in the container -->
  <!-- show templates?????-->


  <div class="container"> 
   
  {{> yield}} 
	</div>
</template>